div.row{
text-align: center;
}
.container.all {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-height: 65vh;
    overflow-y: scroll;
}
div.container.liste{
    background-color: rgba(105, 105, 105, 0.055);
    min-width: 300px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
}
h1 {
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.titre-list-candidat {
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(161, 161, 161);
}

.liste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 20px 10px;
    padding: 0 20px;
}
button.gohome{
    color: rgb(35, 35, 76);
    font-size: .9rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #dce3e8;
    border: 1px solid#0011ff4d;

}
button {
    background-color: #004cffe3;
    color: aliceblue;
    padding: 10px 50px;
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-radius: 5px;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }

    .divider {
        height: 1px;
        width: 100%;
        background: var(--red-to-pink-to-purple-horizontal-gradient);
        margin-block: 1.5rem;
    }
}
