<div class="content">
    <button class="gohome" (click)=" onClickGoHome()">
        Retourner à l'accueil
    </button>
    <div class="container">
        <!-- Balise h1 contenant le titre INFOTECHFUSION -->

        <!-- Paragraphe, liste des membres d'administration -->
        <p class="titre-list-candidat">Liste des membres d'administration</p>
        <div class="container liste" *ngFor="let candidate of list">
            <!-- Paragraphe de liste des membres -->
            <p class="liste">
                {{ candidate.nom }} {{ candidate.prenom }}
            </p>
            <!-- Bouton voter/À voté -->
            <button class="vote" (click)="voter(candidate.id)" [disabled]="voted[candidate.id]">
                {{voted[candidate.id]? 'A voté': 'Voter'}}
            </button>
        </div>
    </div>
</div>